/* Styles pour la carte */
#map {
    width: 100%;  /* S'assurer que la carte prend toute la largeur de son conteneur */
    height: 500px;  /* Taille par défaut */
    transition: height 0.3s ease; /* Ajouter une transition pour un effet plus fluide */
}

/* Marge supérieure */
.marg {
    margin-top: 12rem;
}

/* Style pour le titre */
.title {
    color: #f7e5d4;
}

/* Mode plein écran pour la carte */
.fullscreen-map {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 9999 !important;
}

/* Styles pour les icônes avec texte */
.icon-label-container {
    text-align: center;
}

.icon-label-container img {
    width: 30px;
    height: 30px;
}

.icon-label-text {
    font-size: 12px;
    color: #D215E8;
    font-weight: bold;
}

/* Style pour le texte des popups sur la carte */
.leaflet-popup-content-wrapper {
    font-weight: bold;  /* Mettre le texte en gras */
}
